* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel-container-custom{
  width: 800px;
  max-height: 500px;
}

.carousel-container-custom img{
  width: 800px;
  max-height: 500px;
}

.image-text {
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
  bottom: 0;
}

.thumbnail {
  width: 800px;
  height: 100px;
}

.thumbnail-image {
  border: 3px solid white;
  flex-basis: calc(100% / 5);
}